#navbar{
    color:black;
}
.nav-link{
    color:black;
   text-align: center;
}
.jumbotron{
   background-image:url('/assets/images/background.jpg');
    color:floralwhite;
    margin:0px auto;
    height: 500px;
}
.footer{
    background-color:rgb(241, 241, 241);
    padding: 20px 0px 20px 0px;
    margin: 0px auto;

}
.collapse navbar-collapse{
    color:red;
}

#Cardimg{
    width:52%;
    height:40%;
}
.comForm{
    list-style: none;
    padding-top: 10px;

}
.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;

}
.row-header{
    margin:0px auto;
    padding:0px auto;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.ModalLogin{
    background-color: blueviolet;
}
.ModalBody{
    background:linear-gradient(145deg, blueviolet, rgb(251, 46, 46) );
}